In [2]:
import pandas as pd


cars_df = pd.read_csv('used_car_sales.csv')

In [6]:
subset_df = cars_df[['pricesold', 'yearsold', 'Mileage', 'Make', 'Model', 'Year', 'Engine', 'NumCylinders']]

subset_df.head()

,pricesold,yearsold,Mileage,Make,Model,Year,Engine,NumCylinders
0,7500,2020,84430,Ford,Mustang,1988,5.0L Gas V8,0
1,15000,2019,0,Replica/Kit Makes,Jaguar Beck Lister,1958,383 Fuel injected,8
2,8750,2020,55000,Jaguar,XJS,1995,4.0L In-Line 6 Cylinder,6
3,11600,2019,97200,Ford,Mustang,1968,289 cu. in. V8,8
4,44000,2019,40703,Porsche,911,2002,3.6L,6

In [11]:
subset_df.shape

(122144, 8)

In [14]:
subset_df.shape

(94730, 8)

In [12]:
subset_df.dropna(inplace=True)

C:\Users\Wahaj\AppData\Local\Temp\ipykernel_14496\3839422939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.dropna(inplace=True)

In [13]:
subset_df.isnull().mean()

pricesold       0.0
yearsold        0.0
Mileage         0.0
Make            0.0
Model           0.0
Year            0.0
Engine          0.0
NumCylinders    0.0
dtype: float64

In [15]:
subset_df.to_csv('clean_subset.csv', index=False)